.form-input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-label {
  padding: 10px;
}

.form-button {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #45a049;
}

#add-employee {
  background-color: #f9a602;
}

#add-employee:hover {
  background-color: #e99602;
}

#update-employee {
  background-color: #04f;
}

#update-employee:hover {
  background-color: #03e;
}

#delete-employee {
  background-color: #991a00;
}

#delete-employee:hover {
  background-color: #881a00;
}

#add-employee-form {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  border-radius: 8px;
  background-color: #d0d0c8;
  padding: 20px;
}

#add-employee-form input {
  width: 100%;
}

#add-employee-submit-btn{
  margin-left: 0;
}

