body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  margin-bottom: 50px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111111;
}

.navbar li a.active {
  background-color: #222;
  color: white;
}

.navbar ul {
  position: fixed;
  top: 0;
  width: 100%;
}

.content-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.content-table td, #departments-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content-table tr:nth-child(even){background-color: #c8c8c8;}

.content-table tr:hover {background-color: #aaa;}

.content-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.content-table tr td {
  padding-left: 20px;
}
