{% extends "layout.html" %}

{% block head %}
<title>Add employee</title>
<link rel="stylesheet" type="text/css" href="static/css/employees.css?v=38">
{% endblock %}

{% block navbar %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/departments">Departments</a></li>
    <li><a href="/employees">Employees</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="add-employee-form">
    <form method="POST" action="">
        {{ form.name.label(class="form-label") }} {{ form.name(placeholder="NameSurname", class="form-input") }}
        {{ form.department.label(class="form-label") }} {{ form.department(placeholder="Id of department", class="form-input") }}
        {{ form.salary.label(class="form-label") }} {{ form.salary(placeholder="Employee's salary, integer value", class="form-input") }}
        {{ form.birth_date.label(class="form-label") }} {{ form.birth_date(placeholder="yyyy-mm-dd", class="form-input") }}
        <input type="submit" class="form-button" value="Add">
        {{ form.csrf_token }}
    </form>
</div>
{% endblock %}

