{% extends "layout.html" %}

{% block head %}
<title>Employees</title>
<link rel="stylesheet" type="text/css" href="static/css/employees.css?v=36">
{% endblock %}

{% block navbar %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/departments">Departments</a></li>
    <li><a href="/employees" class="active-btn">Employees</a></li>
</ul>
{% endblock %}

{% block content %}
<div>
    <form method="POST" action="">
        {{ form.date_from.label(class="form-label") }} {{ form.date_from(placeholder="yyyy-mm-dd", class="form-input") }}
        {{ form.date_to.label(class="form-label") }} {{ form.date_to(placeholder="yyyy-mm-dd", class="form-input") }}
        <input type="submit" class="form-button" value="Search">
        {{ form.csrf_token }}
        <a href="/add_employee"><input id="add-employee" class="form-button" type="button" value="Add"></a>
        <a href="/add_employee"><input id="update-employee" class="form-button" type="button" value="Update"></a>
        <a href="/add_employee"><input id="delete-employee" class="form-button" type="button" value="Delete"></a>
    </form>
</div>
<table class="content-table">
    <tr>
        {% for element in table_data[0] %}
            <th>{{ element }}</th>
        {% endfor %}
    </tr>
    {% for row in table_data[1:] %}
        <tr>
        {% for element in row %}
            <td>{{ element }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}

