{% extends "layout.html" %}

{% block head %}
<title>Departments</title>
<link rel="stylesheet" type="text/css" href="static/css/departments.css?v=11">
{% endblock %}

{% block navbar %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/departments" class="active-btn">Departments</a></li>
    <li><a href="/employees">Employees</a></li>
</ul>
{% endblock %}

{% block content %}
<table class="content-table">
    <tr>
        {% for element in table_data[0] %}
            <th>{{ element }}</th>
        {% endfor %}
    </tr>
    {% for row in table_data[1:] %}
        <tr>
        {% for element in row %}
            <td>{{ element }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
